* {

    box-sizing: border-box;
}

/* Disable Scrollbar for Firefox */
html {
    scrollbar-width: none;
}

/* Disable Scrollbar for Chrome */
::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #F0F0F0;
    background-color: #d13639;
    margin: 0 auto;
}

a {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 300;
    text-decoration: none;
    color: #ddd;
    line-height: 0;
    display: block;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

a:hover {
    box-shadow: 0 4px 15px 5px rgba(0, 0, 0, 0.7);
}

p {
    font-size: 1.5em;
    text-align: center;
    margin: 0;
    font-weight: 300;

}

ul {
    padding: 0;
    margin: 0;
}

header {
    z-index: 100;
    display: none;
    position: fixed;
    opacity: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
}

.main-nav-items {
    height: 82px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.main-nav-item {
    width: 100%;
    text-align: center;
    margin: 0 1em;
    border-bottom: 1px solid transparent;
}

.main-nav-item a {
    display: block;
    padding: 2em 0;
}

.main-nav-item:hover {
    border-bottom: 1px solid #8b2ab4;
    transition: border-bottom 200ms linear;
}

.main-nav-item:focus-visible {
    outline: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hero {
    margin-top: -100px;
}


.hero-title {
    margin: 0;
    text-align: center;
    font-weight: 400;
    font-size: 10em;
}

.hero-subtitle {
    color: #2D2D2D;
    font-size: 4em;
    padding: 0;
    text-align: center;
    font-weight: 300;
    margin: 0;
}

.hero-graphic-container {
    display: flex;
    height: 350px;
    max-width: 600px;
    border-radius: 10px;
}


.hero-graphic {
    border-radius: 10px
}

.arrow-down {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;;
}

.arrow-down__first {
    width: 100px;
}

.arrow-down__second {
    margin-top: -25px;
    width: 150px;
}

.container-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90%;
}
/* Unrelated */
.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 15px;
    position: absolute;
    top: -35px;
    right: 0;
    margin-right: 5%;
    background-color: #fff;
    padding: 5px 10px;
}

.icon {
    /* background-color: white; */
    border-radius: 25%;
    height: 40px;
}

.icon-img {
    /* max-width: 100%; */
    max-height: 100%;
}

.section-title {
    position: relative;
    z-index: 1;
    text-align: left;
    margin-bottom: -90px;
    font-size: 8em;
}

.title-right {
    text-align: right;
}

.section {
    width: 60%;
    letter-spacing: 2px;
    margin-bottom: 50px;
}



.section-entry {
    position: relative;
    display: flex;
    gap: 2em;
    flex-direction: row;
    justify-content: space-around;
    background-color: #2D2D2D;
    padding: 3%;
    padding-top: 5%;
    height: fit-content;
    margin-top: 50px;
    
}
.entry-title {
    font-size: 3em;
    text-align: center;
    padding-bottom: 0.2em;
}

.entry-text {
    font-weight: 300;
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: justify;
}

.about {
    height: fit-content;
}

.project-image {
    height: fit-content;
    
    border-radius: 5px;
}

.project-description {
    width: 95%;
}

.project-image__img {
    object-fit: contain;
    max-height: 350px;
    max-width: min(360px, 80vw);
    border-radius: 5px;
}

@media (max-width: 1250px) {

    .section {
        width: 80%;
    }

}


@media (max-width: 1000px) {
    .icons {
        visibility: hidden;
    }
    .section {
        width: 90%;
    }
    .section-title {
        font-size: 4em;
        margin-bottom: -70px;
    }

    .section-entry {
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }

}

@media (max-width: 725px) {

    .hero-title {
        font-size: 4.5em;
    }
    .hero-subtitle {
        font-size: 2em;
    }
    
    .arrow-down__first {
        width: 70px;
    }

    .arrow-down__second {
        width: 120px;
    }

    .entry-title {
        font-size: 2em;
    }
}
.about {
    height: fit-content;
}