* {

    box-sizing: border-box;
}

h2 {
    margin: 0;
    font-size: 1.7em;
}

code {
    padding: 0.2em 0.4em;
    border-radius: 3px;
    background-color: #444;
}

/* Disable Scrollbar for Firefox */
html {
    scrollbar-width: none;
}

/* Disable Scrollbar for Chrome */
::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #F0F0F0;
    background-color: #d13639;
    margin: 0 auto;
}

.inline-link {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 300;
    text-decoration: none;
    color: #ddd;
    line-height: 0;
    display: block;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.back-link {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    font-size: 1.5em;
    color: #F0F0F0;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-title {
    position: relative;
    z-index: 1;
    text-align: center;
    font-size: 5em;
    margin: 0;
}

.blog-content {
    width: 90%;
    letter-spacing: 2px;
    margin-bottom: 50px;
    margin-top: 30px;
}

.post-title {
    font-size: 2.8em;
    margin-bottom: 0;
}

.blog-intro,
.blog-post {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #2D2D2D;
    padding: 3%;
    padding-top: 1.5%;
    height: fit-content;
    margin-top: 50px;
}

.post-date {
    font-size: 1em;
}

.intro-text,
.post-content {
    font-size: 1.5em;
    font-weight: 300;
    line-height: normal;
    text-align: justify;
    hyphens: auto;
    margin-top: 0.5em;
}

@media (max-width: 725px) {
    .back-link {
        padding: 12px;
        font-size: 1em;
    }

    .blog-content {
        width: 94%;
        letter-spacing: 1px;
        margin-top: 20px;
    }

    .page-title {
        font-size: 3em;
    }

    .blog-intro,
    .blog-post {
        padding: 5%;
        padding-top: 3%;
        margin-top: 30px;
    }

    .post-title {
        font-size: 2em;
    }

    .intro-text,
    .post-content {
        font-size: 1em;
        line-height: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }
}